{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}

{% block page_content %}

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1><i class="fas fa-film"></i>&nbsp;Movie Rex</h1>
        <p class="lead">Keep track of the movies your friends recommend.</p>
      </div>
    </div>
  </div>

  <hr>
<!-- Login Form -->
<!-- <div class="bs-docs-section"> -->
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="bs-component">
        <form action="{{ url_for('signup') }}" method="POST" id="form">
          <fieldset>
            {{ form.csrf_token }}
            <legend><i class="fas fa-user-plus"></i>&nbsp;Sign Up</legend>
            <div class="form-group">
              <label for="email">Email address</label>
              {{ form.email(class_='form-control', autofocus='true', placeholder='Enter email', autocomplete='email') }}
              {% if form.email.errors %}
                  {% for error in form.email.errors %}
                  <p class="text-danger text-right">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              </p>
            </div>
            <div class="form-group">
              <label for="first_name">First name</label>
              {{ form.first_name(class_='form-control', autofocus='true', placeholder='First Name', autocomplete='fname') }}
              {% if form.first_name.errors %}
                  {% for error in form.first_name.errors %}
                  <p class="text-danger text-right">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              </p>
            </div>
            <div class="form-group">
              <label for="last_name">Last name</label>
              {{ form.last_name(class_='form-control', autofocus='true', placeholder='Last Name', autocomplete='lname') }}
              {% if form.last_name.errors %}
                  {% for error in form.last_name.errors %}
                  <p class="text-danger text-right">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              </p>
            </div>
            <div class="form-group">
              <label for="birthday">Date of birth</label>
              {{ form.birthday(class_='form-control', autofocus='true') }}
              {% if form.birthday.errors %}
                  {% for error in form.birthday.errors %}
                  <p class="text-danger text-right">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              </p>
              <!-- You must bes old or older to play on Stepdad.</small> -->
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              {{ form.password(class_='form-control', autofocus='true', placeholder='Password', autocomplete='current-password') }}
              {% if form.password.errors %}
                  {% for error in form.password.errors %}
                  <p class="text-danger text-right">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              </p>
            </div>
            <div class="form-group">
              <label for="confirm">Confirm password</label>
              {{ form.confirm(class_='form-control', autofocus='true', placeholder='Confirm password', autocomplete='current-password') }}
              {% if form.confirm.errors %}
                  {% for error in form.confirm.errors %}
                  <p class="text-danger text-right">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              </p>
            </div>
            <div class="form-group">
              {{ form.recaptcha }}
              {% if form.recaptcha.errors %}
                  {% for error in form.recaptcha.errors %}
                  <p class="text-danger text-right">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              </p>
            </div>
            {{ form.submit(class_='btn btn-primary btn-block', value='Submit') }}

          </fieldset>
        </form>
      </div>
    </div>
  </div>
<!-- </div> -->
{% endblock %}